.git
.idea
.vscode
.fleet
android
node_modules
vendor
.env
.env.*
credentials.md
database/*.sqlite
database/*.sqlite-*
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.phpunit.result.cache
npm-debug.log
yarn-error.log
